<h1 class="header">List of cocktails</h1>

<div class="cards mb-5">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('placeholder.jpg') %>)">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>

  <%= link_to new_cocktail_path, class: 'card-add' do %>
    <div class="card-category" style="background-color: #aaa">
      <i class="fas fa-plus"></i>
      <p>Add new</p>
    </div>
  <% end %>
</div>
